#image1{
    margin-top: 100px;
}
body{
    background-image: url("../images/background.png");
}
.centered{
    text-align: center;
}

.margin-top{
    margin-top: 15px;
}

.left-border{
    border-left: white;
    border-left-width: 2px;
}

.page-header{
    border-style: solid;
    border-color: darkslategrey;
    background-color: moccasin;
    border-width: 3px;
}
/* 
.centered-content{
    vertical-align: middle;
    align-content: center;
} */
